<div class="flex items-center">
    <div class="flex flex-col w-2/6">
        <h1 class="text-bold text-2xl font-bold truncate">{{car?.name}}</h1>
        <label>Model year</label>
        <h1>{{car?.modelYear}}</h1>
        <label>Transmission</label>
        <h1>{{car?.transmissionType}}</h1>
        <label>Fuel</label>
        <h1>{{car?.fuelType}}</h1>
        <label>Trunk space</label>
        <h1>{{car?.trunkSpace}}L</h1>
    </div>
    <div class="flex bg-contain bg-no-repeat w-4/6 h-64 bg-center" [style.backgroundImage]="'url('+car?.image+')'"></div>
</div>
<div class="flex flex-col mt-10">
    <h1 class="text-bold text-2xl font-bold truncate">Get yours now!</h1>
    <div class="flex">
        <div class="flex flex-col w-full">
                <label>Delivery date</label>
                <div class="flex w-full rounded overflow-hidden">
                    <input [ngxMatDatetimePicker]="picker" placeholder="Choose a date"
                    [min]="minDate" class="h-10 p-3 w-full">
                    <mat-datepicker-toggle class="bg-gray-500 h-10" [for]="picker"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false"
                    [stepHour]="1" [stepMinute]="1"
                    [touchUi]="true">
                </ngx-mat-datetime-picker>
            </div>
        </div>
        <div class="flex flex-col ml-5 w-full">
            <label>Address</label>
            <div class="flex rounded w-full overflow-hidden">
                <input
                    placeholder="Location"
                    type="text"
                    class="form-item h-10 p-3 w-full"
                />
                <div class="flex w-10 h-10 bg-gray-500 items-center justify-center">
                    <i class="fas fa-map-marked-alt" style="color: #495058"></i>
                </div>
            </div>
        </div>
        <div class="flex flex-col ml-5 w-2/6">
            <label class="opacity-0">#</label>
            <app-button value="Rent" icon="fa-key"></app-button>
        </div>
    </div>
</div>
