<div class="flex flex-col text-black w-full form" [formGroup]="data.formGroup" [ngClass]="!error?'hide-err':''">
    <div class="form-col flex flex-col w-full" *ngFor="let item of data.form">
        <label class="pl-3">{{item.label}}</label>
        <input
            type="text"
            [formControlName]="item.key"
            class="form-item h-10 p-3 compat"
        />
    </div>

    <div class="flex mt-5 items-center">
        <app-button value="Cancel" class="mr-5" (click)="close()"></app-button>
        <app-button [value]="data._id?'Update':'Add car type'" (click)="add()"></app-button>
        <p class="text-red-600 font-bold ml-2">{{error}}</p>
    </div>
</div>
