<div class="flex flex-col">
    <div class="flex flex-col w-full" *ngIf="cars?.length > 0">
        <div (click)="edit(car)" class="flex mb-5 justify-between cursor-pointer hover:bg-orange-500 p-3 car flex h-20 shadow-xl w-full rounded bg-gray-400" *ngFor="let car of cars">
            <div class="flex flex-col w-4/6 bg-contain bg-no-repeat" [style.backgroundImage]="'url('+car?.image+')'">
            </div>
            <div class="flex flex-col w-full xl:items-start items-end">
                <label>Name</label>
                <h1>{{car.name}}</h1>
            </div>
            <div class="flex-col w-full hidden xl:flex">
                <label>Price</label>
                <h1>{{car.price}}/mnd</h1>
            </div>
            <div class="flex-col w-full hidden xl:flex">
                <label>Model</label>
                <h1>{{car.modelYear}}/mnd</h1>
            </div>
            <div class="flex-col w-full hidden xl:flex">
                <label>Transmission</label>
                <h1>{{car.transmissionType}}/mnd</h1>
            </div>
            <div class="flex-col w-full hidden xl:flex">
                <label>Fuel</label>
                <h1>{{car.fuelType}}/mnd</h1>
            </div>
        </div>
    </div>

    <app-button
        class="flex w-full"
        value="Click to add car type"
        (click)="newCar()"></app-button>
</div>
