<div class="flex flex-col w-1/2 mx-auto mt-10 mb-20">
    <div class="flex flex-col w-full" *ngIf="cars?.length > 0">
        <div (click)="edit(car)" class="flex mb-5 justify-around cursor-pointer hover:bg-orange-500 p-3 car flex h-20 shadow-lg w-full rounded bg-gray-400" *ngFor="let car of cars">
            <div class="flex flex-col w-5/6">
                <img [src]="car?.image" class="max-w-full max-h-full"/>
            </div>
            <div class="flex flex-col w-full">
                <label>Name</label>
                <h1>{{car.name}}</h1>
            </div>
            <div class="flex flex-col w-full">
                <label>Price</label>
                <h1>{{car.price}}/mnd</h1>
            </div>
            <div class="flex flex-col w-full">
                <label>Model</label>
                <h1>{{car.modelYear}}/mnd</h1>
            </div>
            <div class="flex flex-col w-full">
                <label>Transmission</label>
                <h1>{{car.transmissionType}}/mnd</h1>
            </div>
            <div class="flex flex-col w-full">
                <label>Fuel</label>
                <h1>{{car.fuelType}}/mnd</h1>
            </div>
        </div>
    </div>

    <app-button
        class="flex w-full"
        value="Click to add car type"
        (click)="newCar()"></app-button>
</div>
