<div class="flex p-12 items-start">
    <div class="flex flex-col bg-gray-800 w-full shadow-2xl mr-12 p-5 rounded-md">
        <label class="pl-2">Username</label>
        <input class="p-2 mb-2 h-8"/>

        <label class="pl-2">Password</label>
        <input type="password" class="p-2 h-8 mb-5"/>

        <button class="
            w-32 h-8
            font-bold text-base text-orange-900
            border-2 bg-orange-500 rounded-sm
            border-orange-500
            shadow-md hover:border-orange-800
            "
            (click)="login()"
            > Login </button>
    </div>

    <div class="flex flex-col bg-gray-800 w-full shadow-2xl p-5 rounded-md">
        <label class="pl-2">Username</label>
        <input class="p-2 mb-2 h-8"/>

        <label class="pl-2">Password</label>
        <input type="password" class="p-2 h-8 mb-2"/>

        <label class="pl-2">Repeat</label>
        <input type="password" class="p-2 h-8 mb-5"/>

        <button class="
            w-32 h-8
            font-bold text-base text-orange-900
            border-2 bg-orange-500 rounded-sm
            border-orange-500
            shadow-md hover:border-orange-800
            "
            (click)="register()"
            > Register </button>
    </div>
</div>
