@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/*
    Angular material theme used in the dialog and for buttons.
    - We are not using any colors from this theme.
*/
@import '@angular/material/prebuilt-themes/indigo-pink.css';

*{
    font-family: "roboto";
    box-sizing: border-box;
}


button{}
button:focus{
    outline: 0;
}

img{
    width: inherit;
}

body{
    background: whitesmoke;
    overflow-y: scroll;
}

input{
    font-family: "roboto";
    font-weight: 700;
    background: rgba(0,0,0, .2);
    outline: 0;
}

input:focus{
    background: rgba(0,0,0, .4);
}
input::placeholder{
    color: rgba(0,0,0, .4);
}

label:first-child{
    margin-top: 0;
}

label{
    margin-top: 1rem;
    margin-bottom: .2rem;
    font-weight: 700;
}


.form{
    border: 0 !important;
}

.form-col:first-child{
    margin-top: 0;
}
.form-col{
    margin-top: 1rem;
}

.form-item{
    border: 2px solid transparent;
}

.ng-invalid{
    border: 2px solid red;
}


.hide-err.ng-invalid{
    border-color: transparent !important
}

.hide-err{
    .ng-invalid{
        border-color: transparent !important
    }
}

.dialog-responsive {
    width: 95%;
}

@media only screen and (min-width: 768px) {
    .dialog-responsive {
        width: 50%;
    }
}

.mat-datepicker-toggle-default-icon{
    margin: 0 auto !important;
}
